# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
example/Example.app

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

## JetBrains Idea and Goland
/.idea/**/*.*
/.idea/\$CACHE_FILE\$
/.idea/dataSources/
!/.idea/inspectionProfiles/Project_Default.xml
!/.idea/dictionaries/*.xml
!/.idea/go.xml
